@using Portfolio_MauiNewsfeed.Filtering;

<div>
    <EditForm EditContext="_editContext" OnValidSubmit="SubmitFormAsync" OnInvalidSubmit="InvalidSubmitForm">
        <DataAnnotationsValidator />
        <div class="row g-3 align-items-center">
            <div>
                <div class="col-auto">
                    <label class="col-form-label" for="Title">Title</label>
                </div>
                <div class="col-auto">
                    <InputText id="Title" class="form-control" @bind-Value="_filterInputModel.Title" placeholder="Nyt filter" disabled="@_editFilterMode"/>             
                    <ValidationMessage For="@( () => _filterInputModel.Title)" />
                </div>
            </div>
            <div>
                <div class="col-auto">
                    <label class="col-form-label" for="Whitelist">Whitelist:</label>
                </div>
                <div class="col-auto">
                    <InputText id="Whitelist" class="form-control" @bind-Value="_filterInputModel.Whitelist" placeholder="Ord, ord, ord..." />
                    <ValidationMessage For="@( () => _filterInputModel.Whitelist)" />
                </div>
            </div>
            <div>
                <div class="col-auto">
                    <label class="col-form-label" for="Blacklist">Blacklist:</label>
                </div>
                <div class="col-auto">
                    <InputText id="Blacklist" class="form-control" @bind-Value="_filterInputModel.Blacklist" placeholder="Ord, ord, ord..." />
                    <ValidationMessage For="@( () => _filterInputModel.Blacklist)"/>
                </div>
            </div>
        </div>
        <div class="py-3 d-flex btn-group align-self-center w-auto">
            <button type="submit" class="btn btn-outline-success btn-hover">Gem Filter</button>
            <button @onclick="Cancel" class="btn btn-outline-danger btn-hover">Tilbage</button>
        </div>
    </EditForm>
</div>


@code {

    private NewsfeedFilterInputModel _filterInputModel = new NewsfeedFilterInputModel();
    private EditContext _editContext;
    private bool _editFilterMode;

    [Parameter]
    public NewsfeedFilter Filter { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_filterInputModel);
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (Filter != null && firstRender)
        {
            _filterInputModel.Title = Filter.Title;
            _filterInputModel.Whitelist = String.Join(", ", Filter.UserWhitelist);
            _filterInputModel.Blacklist = String.Join(", ", Filter.UserBlacklist);
            _editFilterMode = true;
        }
        base.OnAfterRender(firstRender);
    }

    // for displaying validation messages on untouched forms
    private void InvalidSubmitForm()
    {
        FieldIdentifier whitelistId = _editContext.Field("Whitelist");
        _editContext.NotifyFieldChanged(whitelistId);
        FieldIdentifier blacklistId = _editContext.Field("Blacklist");
        _editContext.NotifyFieldChanged(blacklistId);        
    }

    private async Task SubmitFormAsync()
    {
        Filter ??= new NewsfeedFilter();
        Filter = _filterInputModel.ConvertInputModel();
        await BlazoredModal.CloseAsync(ModalResult.Ok(Filter));
    }

    private async Task Cancel() => await BlazoredModal.CancelAsync();

}


