@using Portfolio_MauiNewsfeed.Filtering;
@using Portfolio_MauiNewsfeed.Services;
@inject NewsfeedFilter newsfeedFilter
@inject NewsfeedFilterService filterService

<div class="list-group list-group-flush d-grid gap-2 border-0 w-auto dropdown_menu-7">
    @if (NewsfeedFilterCollection != null)
    {
        for (int i = 0; i < NewsfeedFilterCollection.Count(); i++)
        {
            <FilterSettingsFilterListItem Filter="NewsfeedFilterCollection[i]" ListName="FilterList" Id="@("FilterList"+i)" OnSelectFilter="SetFilter" OnDeleteFilter="DeleteFilterAsync" OnEditFilter="EditFilterAsync" />
        }
    }
    <button type="button" class="btn btn-outline-success" @onclick="AddNewFilterAsync"><i class="bi bi-file-plus"></i> Tilføj Nyt Filter</button>
</div>

@code {

    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    public List<NewsfeedFilter> NewsfeedFilterCollection { get; set; }

    protected async override Task OnInitializedAsync()
    {
        NewsfeedFilterCollection = await filterService.GetAllFiltersAsync();
        string activeFilterTitle = Preferences.Get("ActiveFilter", "None");

        if (activeFilterTitle != "None")
        {
            var activeFilter = NewsfeedFilterCollection.Where(x => x.Title == activeFilterTitle).FirstOrDefault();
            if (activeFilter != null)
                newsfeedFilter.CopyFilterValues(activeFilter);
        }

        await base.OnInitializedAsync();
    }

    protected async override Task OnParametersSetAsync()
    {
        NewsfeedFilterCollection = await filterService.GetAllFiltersAsync();
        await base.OnParametersSetAsync();
    }

    public void SetFilter(NewsfeedFilter filter)
    {
        newsfeedFilter.CopyFilterValues(filter);
    }

    public async Task AddNewFilterAsync()
    {
        IModalReference filterModal = Modal.Show<FilterSettingsAddNewFilter>("Add New Filter");
        ModalResult result = await filterModal.Result;

        if (result.Confirmed)
        {
            NewsfeedFilter newFilter = (NewsfeedFilter)result.Data;
            await filterService.SaveFilterAsync(newFilter);
            NewsfeedFilterCollection = await filterService.GetAllFiltersAsync();
        }
    }

    public async Task DeleteFilterAsync(NewsfeedFilter filter)
    {
        filterService.DeleteFilter(filter);
        NewsfeedFilterCollection = await filterService.GetAllFiltersAsync();
    }

    public async Task EditFilterAsync(NewsfeedFilter filter)
    {
        ModalParameters data = new ModalParameters().Add(nameof(FilterSettingsAddNewFilter.Filter), filter);
        IModalReference filterModal = Modal.Show<FilterSettingsAddNewFilter>("Edit Filter", data);
        ModalResult result = await filterModal.Result;

        if (result.Confirmed)
        {
            NewsfeedFilter newFilter = (NewsfeedFilter)result.Data;
            await filterService.SaveFilterAsync(newFilter);
            NewsfeedFilterCollection = await filterService.GetAllFiltersAsync();
        }
    }
}
