@using Portfolio_MauiNewsfeed.Filtering;
@using Portfolio_MauiNewsfeed.Services;

<SettingsCard HeaderText="Filterindstillinger">
    <SettingsToggle Id="FilterToggle" LabelTitle="Filtrér" LabelMessage="Slår filtrering af nyheder til og fra." Value="@Preferences.Get("EnableFilter", false)" ValueChanged="ToggleFilter" />
    <div class="@(Preferences.Get("EnableFilter", false) == false ? "d-none" : "d-block")">
        <FilterSettingsFilterList />
    </div>
</SettingsCard>

@code {

    public void ToggleFilter(bool toggle)
    {
        Preferences.Set("EnableFilter", toggle);
    }

}
