@using Portfolio_MauiNewsfeed.Filtering;
@using Portfolio_MauiNewsfeed.Services;

<h1>Indstillinger</h1>
<div class="card">
    <div class="card-header">
        Filterindstillinger
    </div>
    <div class="card-body">             
        <FilterSettingsToggle Id="FilterToggle" LabelTitle="Filtrering" LabelMessage="Slår filtrering af nyheder til og fra." Value="@Preferences.Get("EnableFilter", false)" ValueChanged="ToggleFilter" />
        <div class="@(Preferences.Get("EnableFilter", false) == false ? "d-none" : "d-block")">
            <FilterSettingsFilterList />
        </div>
    </div>
</div>

@code {

    public void ToggleFilter(bool toggle)
    {
        Preferences.Set("EnableFilter", toggle);
    }

}
