@using Portfolio_MauiNewsfeed.Filtering;
@using Portfolio_MauiNewsfeed.Services;

<div class="pt-5">
    <FilterSettingsToggle Id="FilterToggle" LabelTitle="Filter" LabelMessage="Toggles newsfeed filtering" Value="@Preferences.Get("EnableFilter", false)" ValueChanged="ToggleFilter" />
    <div class="@(Preferences.Get("EnableFilter", false) == false ? "d-none" : "d-block")">
        <FilterSettingsFilterList/>
    </div>
</div>

@code {    

    public void ToggleFilter(bool toggle)
    {
        Preferences.Set("EnableFilter", toggle);
    }

}
