<div class="card">
    <div class="card-body">
        <h4>
            @Title
        </h4>
        <div class="card-title">
            @Description
        </div>
        <div class="card-text text-muted font-italic">
            @_itemAgeMessage
        </div>
    </div>
</div>
<br />

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? Link { get; set; }

    [Parameter]
    public DateTimeOffset? PublicationDate { get; set; }

    private string _itemAgeMessage;

    protected override void OnParametersSet()
    {
        if (PublicationDate != null)
            _itemAgeMessage = SetItemAgeMessage(DateTimeOffset.Now - PublicationDate.Value);

        base.OnParametersSet();
    }

    private string SetItemAgeMessage(TimeSpan itemAge)
    {
        if (itemAge.TotalSeconds < 60)
            return "Mindre end et minut siden.";
        else if (itemAge.TotalMinutes < 60)
            return $"{Math.Floor(itemAge.TotalMinutes)} minutter siden.";
        else if (itemAge.TotalHours < 2)
            return $"{Math.Floor(itemAge.TotalHours)} time siden.";
        else if (itemAge.TotalHours < 24)
            return $"{Math.Floor(itemAge.TotalHours)} timer siden.";
        else if (itemAge.TotalHours < 48)
            return $"{Math.Floor(itemAge.TotalDays)} dag siden.";
        else
            return $"{Math.Floor(itemAge.TotalDays)} dage siden.";
    }

}
