@page "/"

<div class="align-content-center">
<TabControl>
    <TabPage Text="Seneste Nyt">
        <br />
        <Newsfeed FeedUrl="https://www.dr.dk/nyheder/service/feeds/senestenyt" />
    </TabPage>  
    <TabPage Text="Indland">
            <br />
        <Newsfeed FeedUrl="https://www.dr.dk/nyheder/service/feeds/indland" />
    </TabPage>
    <TabPage Text="Udland">
            <br />
        <Newsfeed FeedUrl="https://www.dr.dk/nyheder/service/feeds/udland" />
    </TabPage>
    <TabPage Text="Penge">
            <br />
        <Newsfeed FeedUrl="https://www.dr.dk/nyheder/service/feeds/penge" />
    </TabPage>
</TabControl>
</div>

@code {

    public List<string> UserBlacklist { get; set; } = new List<string> { "skal" };

    public List<string> UserWhitelist { get; set; } = new List<string> { "unge" };

}