@page "/settings"
@using Portfolio_MauiNewsfeed.Configuration;
@inject NewsfeedSettings newsfeedSettings

<h3>Settings</h3>
<div class="card">
    <br />
    <div class="card-text text-right">
        Toggle Feed Filter <ToggleSwitch Value="newsfeedSettings.FilterFeeds" ValueChanged="ToggleFilter"></ToggleSwitch>
    </div>

</div>
@code {

    public void ToggleFilter(bool toggle)
    {
        newsfeedSettings.FilterFeeds = toggle;
    }
}