@page "/settings"
@using Portfolio_MauiNewsfeed.Configuration;
@inject NewsfeedFilter newsfeedFilter

<h3>Settings</h3>
<div class="card settings-card">
    <br />
    <div class="card-text text-right">
        Toggle Newsfeed Filter <ToggleSwitch Value="@Preferences.Get("EnableFilter", false)" ValueChanged="ToggleFilter"></ToggleSwitch>
    </div>
    <br />

</div>
@code {

    public void ToggleFilter(bool toggle)
    {
        Preferences.Set("EnableFilter", toggle);
    }

}