@page "/settings"
@using Portfolio_MauiNewsfeed.Filtering;
@using System.Text.Json;
@using Portfolio_MauiNewsfeed.Services;
@inject NewsfeedFilter newsfeedFilter
@inject FilterService filterService

<h3>Settings</h3>
<div class="card settings-card">
    <br>
    <h4>
        Filter Settings
    </h4>
    <br />
    <div>
        <br />
        <div class="card-text d-flex justify-content-around">
            Toggle Newsfeed Filtering <ToggleSwitch Value="@Preferences.Get("EnableFilter", false)" ValueChanged="ToggleFilter"></ToggleSwitch>
        </div>
        <div class="@(Preferences.Get("EnableFilter", false) == false ? "d-none" : "d-block")">
            <br />
            @if (NewsfeedFilterCollection != null)
            {
                foreach (NewsfeedFilter filter in NewsfeedFilterCollection)
                {
                    <NewsfeedFilterItem Filter="filter" OnSelectFilter="SetFilter" />
                }
            }
        </div>
    </div>
</div>

@code {

    public IEnumerable<NewsfeedFilter> NewsfeedFilterCollection { get; set; }

    public void ToggleFilter(bool toggle)
    {
        Preferences.Set("EnableFilter", toggle);
    }

    protected override void OnInitialized()
    {
        NewsfeedFilterCollection = filterService.GetAllNewsfeedFilters();
        var activeFilterTitle = Preferences.Get("ActiveFilter", "None");

        if (activeFilterTitle != "None")
        {
            newsfeedFilter.CopyFilterValues(NewsfeedFilterCollection.Where(x => x.Title == activeFilterTitle).First());
        }

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        NewsfeedFilterCollection = filterService.GetAllNewsfeedFilters();
        base.OnParametersSet();
    }

    public void SetFilter(NewsfeedFilter filter)
    {
        newsfeedFilter.CopyFilterValues(filter);
    }

}
