@page "/settings"
@using Portfolio_MauiNewsfeed.Configuration;
@inject UserSettings userSettings

<h3>Settings</h3>

Toggle Feed Filter <ToggleSwitch Value="userSettings.FilterFeeds" ValueChanged="ToggleFilter"></ToggleSwitch> 

@code{

    public void ToggleFilter(bool toggle)
    {
        userSettings.FilterFeeds = toggle;
    }
}